* {
    padding: 0px;
    margin: 0px;
	border: 0px;
}

/* ???  No idea what this was doing */
/*
#contentContainer {
	display: block;
	margin: 20px auto;
}
*/

html{
    font:14px normal Arial, sans-serif;
    color:#999999;
    background-color:#333333;
}

body{
    padding:0px;
	margin: 0px;
    text-align: center;
}

input[type=text]{
    text-align: left;
    font: inherit;
    border: 4px solid #3A9FF6;
    padding: 10px;
    font-size: 15px;
    width: 500px;
    outline: none;
    display: block;
    color: #666666;
    margin: 0px auto 20px auto;
}

::-webkit-input-placeholder {
   color: #CCCCCC;
}

span {
	cursor:default;
}

#noibeam {
	cursor:default;
}
#pointer{
	cursor:pointer;
}

#webglWindow {
    position: absolute;
    left: 350px;
    top: 0px;
	height: 100%;
	/*width: 100%;*/
	width: calc(100% - 350px);
	color:#999999;
	background-color: #444444;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
	height: 100%;
	width: 350px;
	margin: 0px;
	padding: 0px;
	color:#444444;
	background-color: #DDDDDD;
	overflow: hidden;
}

#overlaymoo {
    position: absolute;
    left: 0px;
    top: 0px;
	height: 100%;
	width: 350px;
	margin: 0px;
	padding: 0px;
	color:#444444;
	background-color: #DDDDDD;
	overflow: hidden;
}

/* Horrible temp EXPORT button */
#exportbutton {
	width: 530px;
	text-align: center;
	font-size: 30px;
	color:white;
	background-color: #FF0000;
	margin: auto;
	padding: 8px;
	position: relative;
}

/* Top level wrapper div for the UI */
#domainlist {
	width: 530px;
	text-align: center;
	margin: auto;
	position: relative;
}

/* Main div for top-level domain objects */
#domainblock {
    display: table;
	text-align:left;
	color:white;
	background-color: #FFFFFF;
    padding: 2px;
	margin: 4px auto 4px auto;
	width: 100%;
	position: relative;
}
#domainlabelblock {
	background-color: #FFFFFF;
	padding: 4px;
	width: 100%;
	position: relative;
	cursor: pointer;
}
#domainlabelblock:hover {
	background-color: #F6F6F6;
}

/* Main div for variable objects, needs to wrap ingest vs. standard, and standard needs display vs.edit*/
#varblock {
    display: table;
	text-align:left;
	color:white;
	/*background-color: #FFFFFF;*/
    padding: 2px;
	margin: 2px auto 10px auto;
	
	width: 100%;
	position: relative;
}
#varblock:hover {
	background-color: #F6F6F6;
}

/* Left/Ingest side of varblock */
#varingest {
    display: table-cell;
	text-align:left;
	color: #999999;
	width: 50%;
	padding: 0 8px 0 0; /* U R D L */
}
/* Right/Standard side of varblock in passive mode, showing either the mapping DM:VAR or some boilerplate text*/
#varstandarddisplay {
    display: table-cell;
	text-align:left;
	color: #999999;
	width: 50%;
	padding: 2px;
}
/* Right display for DM or VAR lists (wrapper) */
#varstandardmapwrapper {
    display: table-cell;
	text-align:left;
	color: #999999;
	width: 50%;
	padding: 2px;
}
/* Right display for DM or VAR lists (inner) */
#varstandardmapinner {
	max-height: 300px;
	overflow: auto;
}

/* Right display for DM list items */
#varstandardmapdomainitem {
    display: table-cell;
	text-align:left;
	color: #999999;
	width: 50%;
	padding: 2px;
}
/* Right display for VAR list items */
#varstandardmapdomainitem {
    display: table-cell;
	text-align:left;
	color: #999999;
	width: 50%;
	padding: 2px;
}

/* Domain label header */
span.domainlabela { /* mapped */
	display: block;
    font-size: 30px;
	color: #0088FF;
	cursor: inherit;
}
span.domainlabelb { /* unmapped */
	display: block;
    font-size: 30px;
	color: #FF0000;
	cursor: inherit;
}
span.domainlabelc { /* mapped but incomplete */
	display: block;
    font-size: 30px;
	color: #99AABB;
	cursor: inherit;
}

/* Variable label header */
span.varlabela {
	display: block;
    font-size: 14px;
	color: #0088FF;
	cursor: inherit;
}
span.varlabelb {
	display: block;
    font-size: 14px;
	color: #FF0000;
	cursor: inherit;
}

span.vardetail {
	display: block;
    font-size: 12px;
	margin-left: 8px;
	color: #99AABB;
	cursor: inherit;
}

/* in -> standard divs */
#topbarwrapper {
	display: block;
	color: #999999;
	cursor: default;
	padding: 0px 0px 12px 0px;
	width: 530px;
	
	text-align: justify;
    min-width: 530px;
	
	margin: auto;
	position: relative;
}
#topbarblock {
    display: block;
    font-size: 14px;
	text-align: left;
	color: #999999;
	cursor: default;
	width : 33%;
}
